<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="center">
        <div class="container">
            <h1>Forgot Password</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            <form action="{{ url_for('forgot_password') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
                <button type="submit">Submit</button>
            </form>
            
            {% if secret_questions %}
            <form action="{{ url_for('verify_secret_question') }}" method="post">
                <input type="hidden" id="username" name="username" value="{{ username }}">
                <label for="question">Select a secret question:</label>
                <select id="question" name="question" required>
                    <option value="" disabled selected>Select a secret question</option>
                    {% for question in secret_questions %}
                        <option value="{{ question }}">{{ question }}</option>
                    {% endfor %}
                </select>
                <label for="answer">Answer:</label>
                <input type="text" id="answer" name="answer" placeholder="Enter the answer" required>
                <button type="submit">Continue</button>
            </form>
            {% endif %}
            
            <p>Remembered your password? <a href="{{ url_for('index') }}">Login</a></p>
        </div>
    </div>
</body>
</html>
