<!DOCTYPE html>
<html>
<head>
    <title>Login and Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>
<body>
    <div class="center">
        <div class="container">
        <h1>Welcome to Our GAME APP</h1><br><br>
    
    <div class="buttons">
        <a href="/ulogin"><button id="loginButton">Register and login with Credentials</button></a><br><br>
        <a href="/fregister"><button id="registerButton">Face Authentication Register</button></a><br><br>
        <a href="/floginhome"><button id="registerButton">Face Authentication login</button></a><br><br>
    </div>
</div>
</div>
</body>
</html>
